apiVersion: apps/v1
kind: Deployment
metadata:
  name: data-processor
  namespace: traffic-dashboard
  labels:
    app: data-processor
    tier: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: data-processor
  template:
    metadata:
      labels:
        app: data-processor
        tier: backend
    spec:
      containers:
      - name: data-processor
        image: registry.k-paas.org/mahahaa/data-processor:v1.0.0
        imagePullPolicy: Always
        env:
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: traffic-config
              key: DB_HOST
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: traffic-config
              key: DB_NAME
        - name: DB_USER
          valueFrom:
            configMapKeyRef:
              name: traffic-config
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: traffic-secrets
              key: DB_PASSWORD
        - name: REDIS_ADDR
          valueFrom:
            configMapKeyRef:
              name: traffic-config
              key: REDIS_ADDR
        - name: CONSUMER_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "250m"
